body {
  font-family: "Source Sans 3", serif;
  font-weight: 400;
  font-size: 1rem;
  min-height: 100vh;
  color: rgb(0, 0, 0, 87%);
  background-color: #7fffd444;
}

.home-container {
  margin: 0 auto;
  padding: 24px;
}

.file-upload-container {
  border: 2px dashed rgb(47, 47, 47);
  border-radius: 8px;
  padding: 20px;
  height: 135px;
  width: 100%;
  max-width: 300px;
  cursor: pointer;
}

.icon-size-m {
  height: 24px;
  width: 24px;
}

.custom-button {
  padding: 12px 16px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  text-align: center;
  background-color: rgb(0, 81, 255);
  border: none;
}
